body{
    background-color: #808080;
    padding: 20px;
}
div{
    outline-offset: 20px;
    outline-color: black;
}
.zuo{
    position: relative;
    margin-right: 20px;
    text-align: center;
    width: 200px;
    float: left;
    background-color:#FFF;
    padding: 20px;
    left: -10px;
}
.you{
    position: relative;
    top: -552px;
    right: -10px;
    width: 120px;
    float: right;
    margin-left: 20px;
    padding: 20px;
    background-color:#FFF;
}
.zhong{
    position: relative;
    left: -10px;
    overflow: hidden;
    height: 510px;
    width: 833px;
    background-color:#FFF;
    padding: 20px;
    outline-offset: 20px;
}
.logo{
    width: 80px;
    height: 80px;
    padding: 20px;
    background-color: grey;
    float: left;
    text-align: center;
}
.logo1{
    width: 80px;
    height: 80px;
    padding: 20px;
    background-color: grey;
}
.logo2,.logo3,.logo4{
    margin-top: 20px;
    width: 80px;
    height: 80px;
    padding: 20px;
    background-color: grey;
}
